extends layout

block content
  h1.title= title
  div.nav
    a.link(href="./") Home
    a.link(href="./form") Form
    a.link(href="./about") About
  div.content
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas laoreet porttitor mi. Morbi vel felis in lorem tincidunt egestas in iaculis sapien. Nulla in auctor lorem. Mauris bibendum nibh dolor. Mauris sed interdum nulla. Duis dui velit, pharetra et faucibus sed, congue in lorem. Duis ac porta mi, vitae rutrum augue. Vivamus pharetra gravida dolor, posuere vulputate quam dapibus at. Integer quis velit eu diam accumsan sagittis et semper nulla. Ut vel ante ex.
    p Vestibulum nec ligula eget lorem venenatis rhoncus. Vivamus finibus magna est, a aliquam dolor accumsan nec. In rutrum rhoncus purus. Maecenas vel viverra ex. Fusce elementum feugiat dui, euismod dictum orci ultricies id. Praesent sit amet nisl ut nisl malesuada aliquet in pulvinar arcu. Pellentesque at ornare nulla. Fusce lacinia semper commodo. Fusce facilisis ultricies erat, sit amet aliquet sapien tristique quis. Vestibulum sed libero dui. Duis venenatis mauris ut arcu pharetra eleifend.
    p Morbi quis eros posuere, dapibus sapien sit amet, convallis est. Aenean luctus nulla vitae orci viverra, sit amet sodales orci ornare. Cras ac enim justo. Sed non mi magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut nec venenatis felis, in lobortis lorem. Phasellus fermentum et dui a sollicitudin. Pellentesque nibh ligula, vehicula id volutpat in, laoreet quis metus. Pellentesque quis ultrices ex.
    p Morbi in mauris nisl. Phasellus euismod, tortor sit amet scelerisque aliquam, ante quam ultrices mi, eu molestie turpis sem eu leo. Maecenas hendrerit velit quis ultrices consectetur. Quisque ultrices eros at erat accumsan hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras eros est, feugiat eget mi eget, tempor consequat dolor. Donec faucibus quis ipsum finibus molestie. Vestibulum egestas nisl ac libero ullamcorper, vitae placerat arcu vulputate. Integer pharetra dui a sem pellentesque, vel suscipit ligula feugiat. Maecenas ut euismod orci. Nunc faucibus velit nec tellus sodales ultrices.