extends layout

block content
    h1.title=title
    div.nav
        a.link(href="./") Home
        a.link(href="./form") Form
        a.link(href="./about") About
    div.content.results
     div.data
        p
            strong Name: 
            |#{name} <br />
            strong Email: 
            |#{email} <br />
            strong Comments: 
            |#{comments} 

     p.back
       a(href="./form") Back