
body {
    margin: 0;
    padding: 0;
}

.title{
    text-align: center;
    background-color: #285e8e;
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #cccccc;
    margin-bottom: 0;
}

.nav {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #285e8e;
    padding-bottom: 8px;
}

.link {
    color: #285e8e;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.content {
    width: 75%;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    background-color: #cccccc;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 25px 5px 25px;
}

.content.results{
    text-align: center;
}

.data {
    display: inline-block;
    text-align: left;
}

.form-control.name, .email {
    margin-left: 31px;
}

h2 {
    text-align: center;
}

.form-horizontal{
    text-align: center;
}

.submit {
    margin-top: 15px;
    margin-bottom: 15px;
}

.back {
    margin-top: 0;
}

.img {
    width: 150px;
    margin-top: 10px;
}

.imgdiv {
    text-align: center;
}